
.swiper{
  cursor: grab;
  margin-top: 30px;
}
.swiper-wrapper .swiper-slide{
  text-align: center;
}
.swiper-wrapper .swiper-slide img{
  height: 80px;
  width: auto;
  pointer-events: none;
  z-index: 0;
  -moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
filter:grayscale(100%) contrast(200%) ;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color:white;
}
.slider-block{
  position: relative;
}
.slider-block .swiper-button-next{
  right: -35px;
}
.slider-block .swiper-button-prev{
  left: -35px;
}