:root{
  --black:#2D3038;
  --white:#fff;
  --primary:#3172B6;
  --gray:#F5F6F7;
  --dark-gray:#767676;
}

html{
  overflow-x: hidden;
}
html body{
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
body h1{
  font-size: 72px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body h2{
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body h3{
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body h4{
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body h5{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body p{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body ul{
  margin: 0;
  padding: 0;
}
.black{
  color: var(--black);
}
.white{
  color: var(--white);
}
.burger-menu{
  text-align: right;
}
button.disabled {
  background-color: var(--black);
  pointer-events: none;

}
.custom-button{
  color: var(--primary);
  font-weight: 500;
  font-size: 28px;
  padding: 7px 30px;
  border: 3px solid var(--primary);
  background-color: transparent;
  position: relative;
  box-shadow: none;
  transition: .5s ease;
  position: relative;
  z-index: 3;
}

.custom-button::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--primary);
  top: 0%;
  left: 0%;
  transition: .3s ease;
  transform: scale(0);
  z-index: -1;
}
.custom-button:hover{
  color:var(--white);
  background-color: var(--primary);
  -webkit-box-shadow: 0px 0px 0px 5px var(--white),0px 0px 0px 8px var(--primary);
  -moz-box-shadow: 0px 0px 0px 5px var(--white),0px 0px 0px 8px var(--primary);
  box-shadow: 0px 0px 0px 5px var(--white),0px 0px 0px 8px var(--primary);
}
.custom-button:hover::after{
  transform: scale(1);
}

header{
  text-transform: uppercase;
  background-color: var(--gray);
}
header .container{
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;

}
header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header img{
  width: 90px;
}
header ul li{
  display: inline-block;
  margin-right: 50px;

}
header ul li a{
  font-weight: 500;
  transition: .3s;
}
header ul li a:hover{
  color: var(--primary);
}
header .nav-btn{
  font-size: 20px;
  letter-spacing: .3px;
  position: relative;
  display: block;
  transition: all 1s ease;
  overflow: hidden;
}


#preview{
  min-height: calc(100vh - 80px);

  display: flex;
  align-items: center;
  background-position: bottom right -25%;

  position: relative;
  overflow-x: hidden;
  background-color: rgb(255,255,255);
  /* background:url("/img/car.png") no-repeat right -150px bottom -5px/75%, linear-gradient(110deg, rgba(255,255,255,1) 50%, rgba(49,114,182,1) 50%); */
  background:url("/img/car.png") no-repeat right -150px bottom -5px/75%;
 

}
#preview .preview-content{
  margin-bottom: 100px;
}
#preview .preview-content button{
  margin-top: 50px;
  letter-spacing: 2px;
  padding:7px 60px ;
}
#preview .figure{
  display: none;

  position: absolute;
  width: 70%;
  height: calc(100vh - 80px);
  background-color: var(--primary);
  top: 0;
  right: -25%;
  transform: skewX(-10deg);
  z-index: -1;
}


#advantages {
  padding: 130px 0;
  position: relative;
  overflow-x: hidden;
  background: rgb(255,255,255);
/* background: linear-gradient(21.5deg, rgba(255,255,255,1) 70%, rgba(49,114,182,1) 70%); */
z-index: -2;

}
#advantages .advantages-list{
  display: flex;
  column-gap:40px;
  margin-top: 70px;
}

#advantages .advantages-list .advantage{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 20px;
}
#advantages .advantages-list .advantage p{
  color: var(--black);
  font-size: 22px;
  line-height: 28px;
}
#advantages .advantages-list .advantage img{
  width: 100px;
  fill: var(--black);

}
#advantages .figure2{
  display: none;
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: var(--primary);
  top: 0;
  right: calc(-75% - 5px);
  transform: skewX(70deg);
  z-index: -1;
}

#partners{
  background-color: var(--primary);
  padding: 40px 0 80px;
  color: var(--white);
}

#insurance-info{
  padding: 100px 0;
}
#insurance-info .steps-block{
  padding: 100px 0;
}
#insurance-info .steps-block {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
#insurance-info .steps-block .step-item{
  flex: 1;
  text-align: center;
  position: relative;
}
#insurance-info .steps-block .number{
  padding: 20px 30px;
  background-color: var(--primary);
  font-size: 64px;
  line-height: 60px;
  color: var(--white);
  border-radius: 25px;
  display: inline-flex;
  position: relative; 
}
#insurance-info .steps-block .step-item:not(:last-child) .number:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: -290%;
  height: 1px;
  width: 250%;
  display: block;
  background-color: var(--black);
  border-radius: 10px;
}
#insurance-info .steps-block p{
  margin-top: 20px;
  color: var( --black);
  font-size: 20px;
  font-weight: 400;
}
#insurance-info .documents-list{
  margin-top: 60px;
  font-size: 24px;
  line-height: 24px;
  margin-left: 80px;
  list-style-image: url("/img/check.svg");
  list-style-position: outside;
}
#insurance-info .documents-list .doc-item{
  margin-bottom: 30px;

  color: var(--black);
}
#insurance-info .documents-list .doc-item::marker{
  padding-right: 20px;

}


#insurance{
  background: rgb(49,114,182);
  background: linear-gradient(0deg, rgba(49,114,182,1) 90%, rgba(255,255,255,1) 90%);
  position: relative;
  padding-bottom: 100px;

}

#insurance .wo__wrapper{

  border: 3px solid var(--black);
  border-top-width: 20px;
}
#insurance .v-application{
  border: 3px solid var(--black);
  border-top-width: 20px;
}

#qAndA{
  background-color: var(--primary);
}
#qAndA h2{
  color: var(--white);
}
#qAndA .qAndA-block{
  padding-top: 50px;
  padding-bottom: 30px;
}

#qAndA .qAndA-block .qAndA-item.hidden p{
  transition: .5s ease, color 1s ease;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  color:var(--white)
}
#qAndA .qAndA-block .qAndA-item{
  padding: 15px 35px;
  margin-bottom: 30px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 10px;


}  
#qAndA .qAndA-block .qAndA-item h5{
  font-size: 24px;
  position: relative;
  display: block;
}
#qAndA .qAndA-block .qAndA-item p{
  color:var(--dark-gray);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 10px;
  margin-left: 10px;
  transition: .5s ease, color 1.5s ease;
}
#qAndA .qAndA-block .qAndA-item.hidden h5::after{
  transform: rotate(0deg);
  transition: 1s ease;
}
#qAndA .qAndA-block .qAndA-item h5::after{
  display: block;
  content:"";
  width: 25px;
  height: 25px;
  background: url("/img/arrow_b.svg") no-repeat;
  color:var(--black);
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s ease;
}

#feedback{
  background-color: var(--primary);
  padding-bottom: 100px;
}

#feedback .feedback-form{
  background-color: var(--white);
  padding: 35px;

  border-radius: 10px;
}
#feedback .feedback-form h2{
  margin-bottom: 15px;
}
#feedback .feedback-form p{
  color: var(--dark-gray);
}
#feedback .feedback-form form .user-info{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 10px;
}
#feedback .feedback-form form input{
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid white;
  font-size: 20px;
  background-color: #E0E0E0;
  width: 100%;
  z-index: 3;
  border-radius: 5px;
  opacity:0.8;
}
#feedback .feedback-form form input::placeholder{
  color: #6b6b6b;
}
#feedback .feedback-form form .input-block{
  width: 100%;
  position: relative;
  transition: all .5s ease-in;
}
#feedback .feedback-form form .phone-input.hideMask:after{
  display: none;
}
#feedback .feedback-form form .phone-input:after{
  content: attr(data-after);
  display: block;
  font-size: 20px;
  position: absolute;
  color: var(--black);
  top: 1px;
  margin-top: 10px;
  padding: 10px 15px;
  left: 1px;
  pointer-events: none;
  z-index: 0;

}
#feedback .feedback-form form input:focus{
  outline:none;
  border: 1px solid var(--black);
  background-color: white;
}
#feedback .feedback-form form textarea:focus{
  outline: none;
  border: 1px solid var(--black);
  background-color: var(--white);
  opacity: 1;
}
#feedback .feedback-form form textarea{
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid var(--white);
  font-size: 20px;
  background-color: #E0E0E0;
  resize: none;
  border-radius: 10px;
  opacity: 0.8;
}
#feedback .feedback-form form textarea::placeholder{
  color: #6b6b6b;
}
#feedback .feedback-form form textarea:hover{
  opacity: 1;
}
#feedback .feedback-form form .custom-button{
  margin-top: 40px;
  font-weight: 400;
}


#contacts{

  color:var(--black);
}

#contacts .contacts-block{
  display: flex;
  align-items: center;
}

#contacts .contacts-block .contact-info{
  flex:5;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
#contacts .contacts-block .map-address{
  flex:8;
}
#contacts .contacts-block .contact-info .social-row a{
  margin-left: 40px;
}
#contacts .contacts-block .map-address a{
  position: relative;
}
#contacts .contacts-block .map-address a::after{
  content: "";
  background-image: url("/img/map.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -50%;
  left: 49%;
  width: 30px;
  height: 30px;
}
#contacts .contacts-block .contact-info .social-row img{
  width: 50px;
}
#contacts .contacts-block .map-address img{
  width: 100%;

}
#contacts .contacts-block .contact-info .contact-info-item{
  list-style-image: url("/img/contact-list.svg");
  margin-left: 150px;
}
#contacts .contacts-block .contact-info .contact-info-item li{
  margin-bottom: 15px;
  font-size: 18px;
}
#contacts .contacts-block .contact-info .contact-info-item h3{
  margin-bottom: 10px;
}
#contacts .contacts-block .contact-info .contact-info-item-description{
  list-style: none  ;

}
#contacts .contacts-block .contact-info .contact-info-item-description li{
  margin-bottom: 5px;
}

.company-footer{
  background-color: var(--gray);
  padding:50px 0;

}
.company-footer-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.company-footer-block h3{
  text-align: center;
  font-weight: 300;
  line-height: 40px;

}
.company-footer-block h3:after{
  content: "";
  height: 2px;
  width:400px;
  background-color: var(--black);
  display: block;
  margin-top: 15px;

  border-radius:20px ;
}
.company-footer-block span{
  font-weight: 500;
}
.company-footer-block img{
  width:160px;
}
footer .develop-by{
  color: white;
  background-color: #282828;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  display: flex;

  justify-content:center;
  column-gap: 10px;
  align-items: center
}
footer .develop-by img{
  width: 70px;
  margin: 0 10px;
}
footer .develop-by a{
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 15px 0;
  width: 100%;
}
span.error-text{
  opacity:0;
  color: #F44336;
  font-size: 14px;
  transition: all .5s ease-in;
  margin-top: 5px;
}
#feedback .feedback-form form input:hover{
  opacity:1;
}
#feedback .feedback-form form input.error{
  border-color:#F44336;
  background-color:#f443362f ;
}
#feedback .feedback-form form input.error:focus{
  background-color: var(--white);
}
#feedback .feedback-form form input.error~span.error-text{
  display: block;

  opacity:1;
}
#feedback .feedback-form form input.validated{
  background-color: #e8f0fe;
}
#feedback .feedback-form form textarea.validated{
  background-color: #e8f0fe;
}
#feedback .feedback-form .submit-btn{
  margin-top: 20px;
}


body::after{
  content: "";
  height: 120vh;
  width: 50%;
  position: absolute;
  top: -60px;
  right: -60px;
  background-color: var(--primary);
  transform: skew(-5deg,10deg);
  z-index: -1;
}
body.menuOpen{
  overflow-y: hidden;
  height: 100vh;
}
.burger-menu{
  display: none;
}
.burger-menu ul li{
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;

}
.burger-menu ul li a{
  font-size: 25px;
  width: 100%;
  display: block;
}
.burger-menu img{
  width: 30px;
  z-index: 21;
}
.burger-menu.isClosed .nav-wrapper{
  display: none;
}
.burger-menu .nav-wrapper{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  z-index: 20;



  background-color: rgba(0, 0, 0, 0.329);
}
.burger-menu .nav-wrapper .nav-block{
  width: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  padding-right: 60px;
}

.close{
  top: 15px;
  right: 50px;
  position: absolute;

}
.close img{
  width: 50px;
  height: 50px;
}

.slider-wrapper{
  touch-action: none;
}